extends ../layout.pug
block styles
    title Categorías 
block content
    if categories && categories.length > 0
        section
            each category in categories 
                a(href=`/categories/show/${category.id}`) #{category.name} 
    if sub 
        section 
            h2 #{sub.name} 
            article
                each subCat in sub.subcategories
                    a(href=`/models/inventory/${subCat.id}`) #{subCat.name}
include ../includes/footer.pug