extends ../layout.pug
block styles
    title Lista de productos  
block content   
    h2 #{main.name}
    section 
        select(name="models")
            each inv in inventory 
                option(value="") #{inv.name} 
    table#table 
        tbody 
            each item in inventory
                each product in item.products 
                    tr(id=product.id)
                        td    
                            if item.image.img == 'null' 
                                i.fa-solid.fa-image
                            else 
                                img#img(src="", alt="imagen")
                        td#name #{product.name}
                        td#total #{product.total} 
                        td#price #{product.price} c/u
                        td  
                            input#quantity(type="number", name="quantity")
                        td 
                            i#addCart.fa-solid.fa-plus
    script(src="/resources/js/models/inventory.js") 
include ../includes/footer.pug