extends ../layout.pug
block styles
    title Lista de productos  
block content   
    h2 #{main.name}
    section 
        select(name="models")
            each inv in inventory 
                option(value="") #{inv.name} 
    table 
        each item in inventory
            each product in item.products 
                tr
                    td #{product.image.img}
                    td #{product.name}
                    td 250 unidades 
                    td #{product.price} c/u
                    td añadir al carrito
include ../includes/footer.pug