extends ../layout.pug
block styles
    title Lista de productos  
    link(rel="stylesheet", href="/resources/css/inventary.css")
block content
    h2.inventary__title #{main.name}
    section.inventary__items
        each item in inventory
            article.inventary__item
                p.inventary__itemTitle #{item.name}
                .inventary__itemCard 
                    figure.inventary__itemPicture 
                        img.inventary__itemImg(src=`${item.image.img}`, alt="Producto")
                    .inventary__itemTexts 
                        select#inventary__itemSelect.inventary__itemSelect(name="packs") 
                            each product in item.products
                                option(value=`${product.name}`) 
                    //- tr(id=product.id)
                    //-     td    
                    //-         img(src=`${item.image.img}`, alt="Producto")
                    //-     section 
                    //-         td#name #{product.name}
                    //-         td#total #{product.total} 
                    //-         td#price #{product.price} c/u
                    //-     td  
                    //-         input#quantity(type="number", name="quantity")
                    //-     td 
                    //-         i#addCart.fa-solid.fa-plus
    script(src="/resources/js/models/inventory.js") 
include ../includes/footer.pug