extends ../layout.pug
block styles
    title Lista de productos  
    link(rel="stylesheet", href="/resources/css/inventary.css")
block content
    article#title
        h2 #{main.name}
    section#select 
        select(name="models")
            each inv in inventory 
                option(value="") #{inv.name} 
    table#table 
        tbody 
            each item in inventory
                each product in item.products 
                    tr(id=product.id)
                        td    
                            img(src=`${item.image.img}`, alt="Producto")
                        section 
                            td#name #{product.name}
                            td#total #{product.total} 
                            td#price #{product.price} c/u
                        td  
                            input#quantity(type="number", name="quantity")
                        td 
                            i#addCart.fa-solid.fa-plus
    script(src="/resources/js/models/inventory.js") 
include ../includes/footer.pug