extends ../layout.pug
block styles
    title Nuevo Pedido
block content   
    h2 NUEVO PEDIDO
    table 
        tbody
            each item in items 
                tr(id=`${item.id}`)
                    td 
                        if item.img == 'null'
                            i.fa-solid.fa-image 
                        else 
                    td #{item.name} 
                    td #{item.price} 
                    td#cant #{item.quantity} 
                    td
                        button#outCart   
                            i.fa-solid.fa-trash 
    form#formRequest(action="/requests/create" method="POST")
        input(type="hidden", name="userId" value=`${user.id}`)
        input#newOrderId(type="hidden", name="newOrderId" value='')
        fieldset
            label(for="subtotal") TOTAL 
            input#subtotalInput(type="hidden", name="total" value="")
            p#subtotal 0
        fieldset
            label(for="client") CLIENTE 
            select(name="client")
                each client in clients 
                    option(value=`${client.id}`) #{client.name}  
        fieldset
            input(type="radio", name="delivery" value="withdraw")
            label(for="delivery") Retirar       
            input(type="radio", name="delivery" value="send" checked)
            label(for="delivery") Enviar
        fieldset
            button FINALIZAR
    script(src="/resources/js/requests/bucket.js") 
include ../includes/footer.pug