extends ../layout.pug
block styles
    title Mis Pedidos
block content   
    div 
        h2 Mis Pedidos
        h2 Lista de Pedidos
    section 
        form#filterRequest(action="/requests/" method="GET")
            fieldset
                select(name="delivery")
                    option(value="send") Con Envio  
                    option(value="withdraw") Retirar Por Sucursal
            fieldset
                select(name="client")
                    option(value="" default) clientes 
                    option(value="bucor ferreteria industrial") bucor ferreteria industrial
            fieldset
                input(type="date", name="date")
            fieldset
                select(name="zone")
                    option(value="" default) Zona 
            fieldset
                select(name="seller")
                    option(value="" default) Vendedor 
            fieldset
                input(type="date", name="startDate")
            fieldset
                input(type="date", name="endDate")
            fieldset
                button 
                    i.fa-solid.fa-filter
    table#table
        tbody
            if requests && requests.length > 0
                each req in requests 
                    tr
                        td #{req.customer.name}
                        section 
                            td Precio: $#{req.total}
                            td Comision: #{req.seller.comission}%
                        td #{req.send == true ? "Con Envio" : "Retirar por Sucursal"}
                        td Pendiente
                        td 
                            a(href="http://") 
                                i.fa-solid.fa-check
                        td Finalizado
                        td 
                            a(href="http://") 
                                i.fa-solid.fa-xmark
                        td 
                            a(href=`/requests/show/${req.id}`) 
                                i.fa-solid.fa-eye
            else  
                tr  
                    td No se encontraron pedidos. Vuelva a intentar 
    
include ../includes/footer.pug