extends ../layout.pug
block styles
    title Pedido
block content   
    div 
        h2 Detalle del Pedido
    section
        span      
            i.fa-solid.fa-truck-fast
            i.fa-solid.fa-person-walking
        span 
            p #{request.customer.name}
            p #{request.customer.email}
            p #{request.customer.address}
            p #{request.customer.phone}
        span 
            p #{request.seller.name}
        span 
            p #{request.track}
    table
        tbody 
            each item in request.inventory 
                tr 
                    td 
                        i.fa-solid.fa-image
                    td #{item.article.name}
                    td subtotal: $#{item.price}
                    td cantidad: #{item.quantity}Unidades
                     

