extends ../layout.pug 
block styles 
    title Vendedor 
block content 
    div
        h1 Perfil Vendedor
    article
        section  
            img(src="", alt="Perfil")
            h2 #{seller.userName}
    article  
        form(action=`/users/show/${seller.id}` method="GET") 
            fieldset 
                select(name="delivery") 
                    option(value="send") Entrega
                    option(value="withdraw") Sucursal
            fieldset 
                input(type="date" name="startDate" placeholder="Inicio") 
            fieldset 
                input(type="date" name="endDate" placeholder="Fin")
            fieldset 
                button 
                    i.fa-solid.fa-filter
        table
            tbody
                if orders && orders.length > 0 
                    each order in orders 
                        tr 
                            td #{order.customer.name} 
                            td Precio: $#{order.total}
                            td Comision: #{seller.comission}% 
                            td #{order.send == false ? 'Retirar por Sucursal' : 'Con Envío'} 
                else
                    tr  
                        td No se encontraron Pedidos
        article 
            section 
                i.fa-solid.fa-handshake
                span
                    p Pedidos 
                    p #{seller.ordersLength}
            section 
                i.fa-solid.fa-money-will-wave
                span
                    p Comision 
                    p $#{seller.total}
include ../includes/footer.pug
