extends ../layout.pug
block styles 
    title Lista de clientes 
block content
    main 
        section
            h2  Lista de Clientes
        search
            form(action="/clients/search" method="GET")
                fieldset 
                    select(name="zone")
                        each zone in zones 
                            option(value=`${zone.id}`) #{zone.name}  
                fieldset 
                    input(type="search", name="search" placeholder="Busca un cliente aquí") 
                    button 
                        i.fa-solid.fa-search
        table 
            tbody
                if clients && clients.length > 0
                    each client in clients 
                        tr
                            td #{client.name} 
                            td #{client.email}
                            td #{client.phone}
                            td #{client.address}
                            td ZONA#{client.zoneId}
                            td 
                                a(href="") 
                                    i.fa-solid.fa-pen
                            td 
                                a(href="") 
                                    i.fa-solid.fa-trash
                else
                     p No se encontraron resultados
include ../includes/footer.pug