extends ../layout.pug
block styles 
    title Actualizar Producto 
block content 
    div  
        h2 Actualizar Producto 
    section 
        span
            p #{category.mainCategory.name}
        span
            p #{category.name}
        span
            p #{product.template.name}
    section 
        form(action="/products/upgrade?m=PUT" method="POST") 
            input(type="hidden", name="id" value=`${product.id}`)
            fieldset 
                input(type="text", name="name" value=`${product.name}`)
            fieldset 
                input(type="number", name="price" value=`${product.price}`)
            fieldset
                button Actualizar

include ../includes/footer.pug