extends ../layout.pug
block styles 
    title Actualizar Stock 
block content 
    div  
        h2 Stock en Depositos 
    section     
        p Stock Total: 
        p#total #{product.total}
    section 
        p Sin Asignar:
        p#unassigned #{sinAsignar}
    section
            form#stockForm(action="/products/upgrade/stock?m=PUT" method="POST")
                each item in product.quantities
                    fieldset(id=`zone${item.id}`) 
                        input(type="hidden", name=`id${item.id}` value=`${item.id}`) 
                        label(for=`stock${item.stockHouses.id}`) #{item.stockHouses.name} 
                        input(type="number", name=`stock${item.stockHouses.id}` id=`stock${item.stockHouses.id}` value=`${item.stock}`)
                fieldset 
                    button#update(type="submit") Actualizar 
                    button Cancelar
    section#error 
        
    script(src="/resources/js/products/updateStock.js") 
include ../includes/footer.pug