extends ../layout.pug
block styles
    title Categorías
    link(rel="stylesheet", href="/resources/css/category.css") 
block content
    if categories && categories.length > 0
        section.category__options
            each category in categories 
                a.category__option(href=`/categories/show/${category.id}`) 
                    p.category__name #{category.name} 
    if sub 
        section
            h2.sub__title #{sub.name} 
            article.sub__options 
                each subCat in sub.subcategories
                    a.sub__option(href=`/models/inventory/${subCat.id}`) 
                        p #{subCat.name}
include ../includes/footer.pug